In [229]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.metrics import root_mean_squared_error as RMSE
from sklearn.model_selection import train_test_split, KFold, cross_val_score
from sklearn.preprocessing import OneHotEncoder, LabelEncoder

### Datasetimizdagi categorik ustunlarni numericga o'tkazib olamiz encoding orqali

In [230]:
tips = sns.load_dataset('tips')

In [231]:
tips.head()
for column in tips.select_dtypes('category').columns:
    print(f"{column} = {list(tips[column].unique())}")

sex = ['Female', 'Male']
smoker = ['No', 'Yes']
day = ['Sun', 'Sat', 'Thur', 'Fri']
time = ['Dinner', 'Lunch']

In [232]:
label_encoder = LabelEncoder()

for column in tips.select_dtypes(include=['category']).columns:
    tips[column] = label_encoder.fit_transform(tips[column])
tips.head()

   total_bill   tip  sex  smoker  day  time  size
0       16.99  1.01    0       0    2     0     2
1       10.34  1.66    1       0    2     0     3
2       21.01  3.50    1       0    2     0     3
3       23.68  3.31    1       0    2     0     2
4       24.59  3.61    0       0    2     0     4

### O'tkazib oldik

In [233]:
tips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    int64
 3   smoker      244 non-null    int64
 4   day         244 non-null    int64
 5   time        244 non-null    int64
 6   size        244 non-null    int64
dtypes: float64(2), int64(5)
memory usage: 13.5 KB

### Tipni predict qilish uchun model yaratamiz va uning RMSEsini tushirishga harakat qilamiz

In [234]:
cols = ['total_bill', 'sex', 'smoker', 'day', 'time', 'size']
X = tips[['total_bill']]
y = tips['tip']

model = LinearRegression()
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)

# model.fit(X_train, y_train)
# y_pred = model.predict(X_test)

# RMSE(y_test, y_pred)

# RMSEni tushurishning deyarli iloji bo'lamadi shuning uchun endi cross validationdan foydalanamiz
kf = KFold(n_splits = 5, shuffle = True, random_state=0)
cv_result = cross_val_score(model, X, y, cv = kf)
cv_result.mean()

np.float64(0.40972646413273905)

In [235]:
data = pd.read_csv('diabetes_clean.csv')
data.head()

,pregnancies,glucose,diastolic,triceps,insulin,bmi,dpf,age,diabetes
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [236]:
X = data[['bmi']]
y = data['glucose']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)
model = LinearRegression()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
RMSE(y_test, y_pred)

np.float64(959.9008324868353)

In [237]:
model.score(X_test, y_test)

0.019299442505450237

In [238]:
model.coef_

array([0.97363957])

In [239]:
model.intercept_

np.float64(90.13889946445398)