In [65]:
import pandas as pd
import math
import numpy as np
from manual_metrics import mean_squared_error_manual as msem

In [66]:
# Mean Squared Error
def mean_squared_error_manual(y_true, y_pred):
    return sum((y - y_hat) ** 2 for y, y_hat in zip(y_true, y_pred)) / len(y_true)

# Root Mean Squared Error
def root_mean_squared_error_manual(y_true, y_pred):
    mse = mean_squared_error_manual(y_true, y_pred)
    return math.sqrt(mse)

In [67]:
df = pd.read_csv('car_prices.csv', index_col=0)
df.head(3)

,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,price
id,,,,,,,,,,,,
0,Ford,F-150 Lariat,2018,74349,Gasoline,375.0HP 3.5L V6 Cylinder Engine Gasoline Fuel,10-Speed A/T,Blue,Gray,None reported,Yes,11000
1,BMW,335 i,2007,80000,Gasoline,300.0HP 3.0L Straight 6 Cylinder Engine Gasoli...,6-Speed M/T,Black,Black,None reported,Yes,8250
2,Jaguar,XF Luxury,2009,91491,Gasoline,300.0HP 4.2L 8 Cylinder Engine Gasoline Fuel,6-Speed A/T,Purple,Beige,None reported,Yes,15000

In [68]:
df = df.drop('clean_title', axis = 1)

In [69]:
df.head()

,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,price
id,,,,,,,,,,,
0,Ford,F-150 Lariat,2018,74349,Gasoline,375.0HP 3.5L V6 Cylinder Engine Gasoline Fuel,10-Speed A/T,Blue,Gray,None reported,11000
1,BMW,335 i,2007,80000,Gasoline,300.0HP 3.0L Straight 6 Cylinder Engine Gasoli...,6-Speed M/T,Black,Black,None reported,8250
2,Jaguar,XF Luxury,2009,91491,Gasoline,300.0HP 4.2L 8 Cylinder Engine Gasoline Fuel,6-Speed A/T,Purple,Beige,None reported,15000
3,BMW,X7 xDrive40i,2022,2437,Hybrid,335.0HP 3.0L Straight 6 Cylinder Engine Gasoli...,Transmission w/Dual Shift Mode,Gray,Brown,None reported,63500
4,Pontiac,Firebird Base,2001,111000,Gasoline,200.0HP 3.8L V6 Cylinder Engine Gasoline Fuel,A/T,White,Black,None reported,7850

In [70]:
df.shape

(54273, 11)

In [71]:
df['Horse_power'] = [item.split('.0HP')[0] for item in df['engine']]

In [72]:
# df[df['Horse_power'] >

In [73]:
df['Horse_power'] = df['Horse_power'].apply(lambda x: int(x) if x.isdigit() else np.nan)

In [74]:
df['Horse_power'].isna().sum()

np.int64(4057)

In [75]:
# mini = df.sample(1000)
# mini.to_csv("cars_mini2.csv")

In [76]:
df.head(3)

,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,price,Horse_power
id,,,,,,,,,,,,
0,Ford,F-150 Lariat,2018,74349,Gasoline,375.0HP 3.5L V6 Cylinder Engine Gasoline Fuel,10-Speed A/T,Blue,Gray,None reported,11000,375.0
1,BMW,335 i,2007,80000,Gasoline,300.0HP 3.0L Straight 6 Cylinder Engine Gasoli...,6-Speed M/T,Black,Black,None reported,8250,300.0
2,Jaguar,XF Luxury,2009,91491,Gasoline,300.0HP 4.2L 8 Cylinder Engine Gasoline Fuel,6-Speed A/T,Purple,Beige,None reported,15000,300.0

In [77]:
df['milage_per_year'] = df['milage'] / (2024 - df['model_year'])

In [78]:
df.head(3)

,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,price,Horse_power,milage_per_year
id,,,,,,,,,,,,,
0,Ford,F-150 Lariat,2018,74349,Gasoline,375.0HP 3.5L V6 Cylinder Engine Gasoline Fuel,10-Speed A/T,Blue,Gray,None reported,11000,375.0,12391.500000
1,BMW,335 i,2007,80000,Gasoline,300.0HP 3.0L Straight 6 Cylinder Engine Gasoli...,6-Speed M/T,Black,Black,None reported,8250,300.0,4705.882353
2,Jaguar,XF Luxury,2009,91491,Gasoline,300.0HP 4.2L 8 Cylinder Engine Gasoline Fuel,6-Speed A/T,Purple,Beige,None reported,15000,300.0,6099.400000

In [79]:
milage_bins = [df['milage'].min(), df['milage'].quantile(1/3), df['milage'].quantile(2/3), df['milage'].max()]
price_bins = [df['price'].min(), df['price'].quantile(1/3), df['price'].quantile(2/3), df['price'].max()]

bin_labels = ['Low', 'Medium', 'High']

df['milage_bins'] = pd.cut(df['milage'], bins = milage_bins, labels=bin_labels, include_lowest=True)

In [80]:
# df[['milage', 'milage_bin']]

In [82]:
df['price_bins'] = pd.cut(df['price'], bins = price_bins, labels=bin_labels, include_lowest=True)

In [83]:
df.sample(10)

,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,price,Horse_power,milage_per_year,milage_bins,price_bins
id,,,,,,,,,,,,,,,
24914,Chevrolet,Corvette Stingray w/1LT,2023,4200,Gasoline,490.0HP 6.2L 8 Cylinder Engine Gasoline Fuel,8-Speed A/T,White,Red,None reported,72999,490.0,4200.000000,Low,High
48201,BMW,X5 3.0si,2004,110000,Gasoline,260.0HP 3.0L Straight 6 Cylinder Engine Gasoli...,6-Speed A/T,Silver,Gray,None reported,8500,260.0,5500.000000,High,Low
10929,Mercedes-Benz,AMG E 53 Base 4MATIC,2022,13000,Hybrid,429.0HP 3.0L Straight 6 Cylinder Engine Gasoli...,9-Speed A/T,Gray,White,None reported,81500,429.0,6500.000000,Low,High
20041,Ford,Mustang GT Premium,2019,50000,Gasoline,460.0HP 5.0L 8 Cylinder Engine Gasoline Fuel,6-Speed M/T,White,Black,None reported,37700,460.0,10000.000000,Medium,Medium
2896,Toyota,4Runner SR5,2019,101900,Gasoline,270.0HP 4.0L V6 Cylinder Engine Gasoline Fuel,A/T,Black,Black,None reported,28000,270.0,20380.000000,High,Medium
39528,Aston,Martin Vantage Base,2022,3000,Gasoline,503.0HP 4.0L 8 Cylinder Engine Gasoline Fuel,8-Speed A/T,Gray,Brown,None reported,87000,503.0,1500.000000,Low,High
26550,Kia,Forte GT-Line,2022,14950,Gasoline,147.0HP 2.0L 4 Cylinder Engine Gasoline Fuel,A/T,Purple,Black,At least 1 accident or damage reported,8995,147.0,7475.000000,Low,Low
23833,Audi,S3 2.0T Tech Premium Plus,2018,42200,Gasoline,292.0HP 2.0L 4 Cylinder Engine Gasoline Fuel,Transmission w/Dual Shift Mode,Blue,Black,None reported,42800,292.0,7033.333333,Low,High
50888,BMW,M3 Base,2012,148000,Gasoline,333.0HP 3.2L Straight 6 Cylinder Engine Gasoli...,A/T,Black,Black,At least 1 accident or damage reported,10000,333.0,12333.333333,High,Low
22826,BMW,M3 Base,2015,10950,Gasoline,425.0HP 3.0L Straight 6 Cylinder Engine Gasoli...,M/T,White,Black,None reported,83999,425.0,1216.666667,Low,High